// Define default color palette
@import 'color-definitions';
// Color order: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900
// For specific colors: A100, A200, A400, A700.
// Usage: @color-{color name}-{color order}
// Example: @color-red-400;

// Define theme

// Color
@body-background: @color-white;
@content-color: @color-black;
@section-background: @color-white;
@color-accent: #97c65e;
@color-accent-text: @color-white;
@color-primary: @color-gray-600;
@color-success: @color-green-500;
@color-info: @color-cyan-500;
@color-warning: @color-yellow-500;
@color-danger: @color-red-500;
@color-light: @color-gray-100;
@color-dark: @color-gray-800;

// Links
@color-link: @color-accent;
@color-link-hover: lighten(@color-link, 10%);

// Typography

// Common
@external-font-url: '//fonts.googleapis.com/css?family=Roboto:400,700';
@font-family: 'Roboto', Helvetica, Arial, sans-serif;
@font-weight: 400;
@font-size: 14px;
@line-height: 1.15;
@font-size-base: 1rem;

// Titles
@font-family-title: @font-family;
@line-height-title: 1.5;
@font-weight-title: 700;
@title-color: @content-color;
@h1-font-size: @font-size-base * 2.5;
@h2-font-size: @font-size-base * 2;
@h3-font-size: @font-size-base * 1.75;
@h4-font-size: @font-size-base * 1.5;
@h5-font-size: @font-size-base * 1.25;

// Sizes
@content-max-width: 1200px;
@content-min-width: 320px;
@indent-extra-small: .25rem;
@indent-small: .5rem;
@indent-medium: .75rem;
@indent-base: 1rem;
@indent-large: 1.5rem;
@indent-extra-large: 2rem;
@border-radius: .25rem;

// Transition
@transition-duration: .5s;

// Layout

// Header
@header-color: @color-black;
@header-background: @color-white;

// Header Bar
@header-bar-color: @color-primary;
@header-bar-background: @color-light;

// Main navigation
@main-nav-color: @color-primary;
@main-nav-active-color: @color-accent;
@main-nav-background: transparent;
@main-nav-active-background: @main-nav-background;

// Submenu
@submenu-color: @color-black;
@submenu-hover-color: @submenu-color;
@submenu-background: @color-white;
@submenu-hover-background: @color-gray-100;
@submenu-border-color: rgba(0,0,0,.15);

// Mobile navigation
@mobile-nav-color: @color-gray-400;
@mobile-nav-background: @color-black;
@mobile-nav-active-color: @color-white;
@mobile-nav-active-background: @mobile-nav-background;
@mobile-nav-border-color: @color-gray-700;
@mobile-nav-bars-color: @color-gray-700;
@mobile-nav-lock-content-bg: rgba(255, 255, 255, .5);

// Search
@search-color: @color-black;
@search-icon-color: @color-gray-600;
@search-background: @color-gray-100;
@search-border-color: @color-gray-400;
@search-hover-border-color: @color-gray-600;
@search-border-radius: 1.5rem;

// Footer
@footer-color: @color-gray-400;
@footer-title-color: @color-white;
@footer-background: #2e2e2e;
@footer-link-color: @color-accent;
@footer-link-hover-color: lighten(@footer-link-color, 15%);

// Components

// Section
@section-indent-y: @indent-large;
@section-margin-bottom: @indent-base;
@section-border: 1px solid @color-gray-300;
@section-border-radius: @border-radius;

// Highlight section
@highlight-section-bg: #e7f3e7;
@highlight-section-shadow-color: #00cc00;
@highlight-section-color: #4f4f4f;

// Button
@btn-background: @color-accent;
@btn-color: @color-accent-text;
@btn-hover-background: darken(@btn-background, 15%);
@btn-hover-color: @color-accent-text;
@btn-text-size: @font-size-base;
@btn-border: 1px solid transparent;
@btn-border-radius: @border-radius;
@btn-padding: @indent-small @indent-medium;
@btn-big-text-size: @font-size-base * 1.5;
@btn-big-padding: @indent-base @indent-medium;
@btn-outline-background: @color-gray-100;
@btn-outline-color: @color-primary;
@btn-outline-border: 1px solid @btn-background;

// Form control
@input-background: @color-gray-100;
@input-color: @color-primary;
@input-text-size: @font-size-base;
@input-height: 2.5rem;
@input-border: 1px solid @color-gray-400;
@input-border-radius: @border-radius;
@input-focus-border-color: @color-gray-600;
@input-padding: @indent-small @indent-medium;

// Dropdown
@dropdown-background: @color-white;
@dropdown-color: @content-color;
@dropdown-border-color: rgba(0,0,0,.15);
@dropdown-hover-color: @color-gray-100;
@dropdown-border-width: 1px;
@dropdown-border-radius: @border-radius;
@dropdown-padding: @indent-small 0;

// Pagination
@pagination-color: @color-gray-600;
@pagination-active-color: @color-accent;
@pagination-border-color: @color-gray-400;
@pagination-item-size: 2em;

// z-index
@zindex-lock-content: 999;
@zindex-main-nav: 990;
@zindex-dropdown: 1000;
