.breadcrumb {
  .make-section();

  /* .breadcrumb__list */
  &__list {
    .clear-list();
    display: flex;
  }
  /* .breadcrumb__list-item */
  &__list-item {
    flex-shrink: 0;

    &:not(:first-child) {
      .truncate-text();
      flex-shrink: 1;
    }
  }
  /* .breadcrumb__item */
  &__item {
    color: #333333;
    font-size: 1.1rem;

    @media (max-width: @screen-sm) {
      font-size: 1rem;
    }
  }
  /* .breadcrumb__link */
  &__link {
    .make-fa-icon(@fa-angle-right);
    color: #858585;

    &:after {
      margin-left: @indent-small;
      margin-right: @indent-small;
    }
  }
}
