// Dropdown menu

.dropdown {
  .make-dropdown('.dropdown__menu');

  /* .dropdown__toggle */
  &__toggle {
    .make-dropdown-toggle();
  }
  /* .dropdown__menu */
  &__menu {
    .make-dropdown-menu();
  }
  /* .dropdown__item */
  &__item {
    .make-dropdown-item();
  }
}
