select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  vertical-align: middle;
  height: @input-height;
  padding: @input-padding;
  font-size: @input-text-size;
  line-height: 1.5;
  color: @input-color;
  background-color: @input-background;
  background-clip: padding-box;
  border: @input-border;
  border-radius: @input-border-radius;
  transition: @transition-duration;
  overflow: visible;

  &:hover,
  &:focus {
    border-color: @input-focus-border-color;
  }

	&[disabled] {
		cursor: not-allowed;
    opacity: .8;
	}
}

textarea {
  max-width: 100%;
  height: auto;
}
