.pagination {
  .make-section();
  text-align: center;

  @media (min-width: @screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

	/* .pagination__count */
	&__count {
    font-weight: 700;
	}
	/* .pagination__items */
	&__items {
    @media (max-width: @screen-md) {
      padding-top: @indent-small;
    }
	}
	/* .pagination__item */
	&__item {
    display: inline-block;
    vertical-align: middle;
    width: @pagination-item-size;
    height: @pagination-item-size;
    border: 1px solid @pagination-border-color;
    border-radius: 50%;
    line-height: @pagination-item-size;
    color: @pagination-color;
    font-weight: 700;
    text-align: center;
    margin-left: @indent-extra-small;

    &:hover,
    &:focus {
      color: @pagination-active-color;
    }
	}
  /* .pagination__icon */
  &__icon {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  /* .pagination__icon-prev */
  &__icon-prev {
    .make-fa-icon(@fa-angle-left);
  }
  /* .pagination__icon-next */
  &__icon-next {
    .make-fa-icon(@fa-angle-right);
  }
}

.pagination_item_current {
  color: @pagination-active-color;
}

.pagination_item_disabled {
  &:hover,
  &:focus {
    color: @pagination-color;
  }
}
