.footer {
  color: @footer-color;
  background-color: @footer-background;
  padding: @indent-large 0;

  // for all links in footer
  a {
    color: @footer-link-color;

    &:hover,
    &:focus {
      color: @footer-link-hover-color;
    }
  }

	/* .footer__container */
	&__container {
    .make-page-container();
	}
	/* .footer__row */
	&__row {
    .make-row();
	}
	/* .footer__col */
	&__col {
    .make-col-ready();
    .make-col(6);
    .make-col-equal-md();
    margin-bottom: @indent-large;
	}
	/* .footer__title */
	&__title {
    color: @footer-title-color;
	}
}

.footer-nav {
  .clear-list();

	/* .footer-nav__item */
	&__item {
    margin-bottom: @indent-small;
	}
}

.footer-copy {
  padding-top: 1rem;
}

.social-list {
  .clear-list();

	/* .social-list__item */
	&__item {
    display: inline-block;
    margin-right: @indent-small;
	}
	/* .social-list__icon */
	&__icon {
    color: @footer-color;
    font-size: 2rem;

    &:hover {
      color: @footer-link-color;
    }
	}
}

.fa-facebook {
  .make-fa-icon(@fa-facebook-square);
}

.fa-twitter {
  .make-fa-icon(@fa-twitter-square);
}

.fa-pinterest {
  .make-fa-icon(@fa-pinterest-square);
}
