// Main header

.header {
  .make-box-shadow();
  border-bottom: 1px solid @color-gray-300;
  position: relative;
  background-color: @header-background;
  color: @header-color;

	/* .header__container */
	&__container {
    .make-page-container();
    padding-top: @indent-large;
    padding-bottom: @indent-large;
	}
  /* .header__row */
  &__row {
    .make-row();
    align-items: center;
    justify-content: space-between;
  }
	/* .header__logo */
	&__logo {
    .make-col-ready();
    .make-col(8);
    .make-col-md(4);
    .make-col-lg(3);
    .make-col-offset(0);
    .make-col-offset-md(3);
    .make-col-offset-lg(0);
	}
	/* .header__logo-img */
	&__logo-img {
    max-height: 100px;
	}
  /* .header__nav-wrap */
  &__nav-wrap {
    .make-col-ready();
    .make-col(2);
    .make-col-md(1);
    .make-col-auto-lg();

    @media (max-width: @screen-lg) and (min-width: @screen-md) {
      order: -1;
    }

    @media (min-width: @screen-lg) {
      padding-left: 0;
      padding-right: 0;
      flex-grow: 1;
    }
  }
  /* .header__search-wrap */
  &__search-wrap {
    .make-col-ready();
    .make-col(12);
    .make-col-md(3);
    .make-col-lg(2);
    .make-col-offset(0);
    .make-col-offset-md(1);
    .make-col-offset-lg(0);

    @media (max-width: @screen-sm) {
      margin-top: @indent-medium;
    }
  }
}

// Header top bar
.header-bar {
  background-color: @header-bar-background;
  color: @header-bar-color;
  border-bottom: 1px solid @color-gray-300;
  padding: @indent-medium 0;

	/* .header-bar__container */
	&__container {
    .make-page-container();
	}
  /* .header-bar__row */
	&__row {
    .make-row();
    align-items: center;
	}
	/* .header-bar__actions */
	&__actions {
    .make-col-ready();
    .make-col-auto();
    .make-row(0);
    align-items: center;
    margin-left: auto;
	}
  /* .header-bar__dropdown */
  &__dropdown {
    @media (min-width: @screen-lg) {
      padding: 0 @indent-medium;
    }
  }
  /* .header-bar__dropdown-toggle */
  &__dropdown-toggle {
    color: @header-bar-color;
  }
	/* .header-bar__nav */
	&__nav {
    padding: 0 @indent-medium;
    .make-dropdown('.header-bar__nav-menu');
	}
  /* .header-bar__nav-menu */
  &__nav-menu {
    @media (max-width: @screen-lg) {
      .make-dropdown-menu();
    }
  }
  /* .header-bar__nav-toggle */
  &__nav-toggle {
    .make-dropdown-toggle();

    @media (min-width: @screen-lg) {
      display: none;
    }
  }
	/* .header-bar__nav-item */
	&__nav-item {
    @media (max-width: @screen-lg) {
      .make-dropdown-item();
    }

    @media (min-width: @screen-lg) {
      color: @header-bar-color;
      display: inline-block;
      padding: 0 @indent-extra-small;

      &:not(:last-child) {
        &:after {
          content: '|';
          margin-left: @indent-medium;
        }
      }
    }
	}
}

// Header cart
.header-cart {
  margin-left: @indent-small;

  /* .header-cart__link */
  &__link {
    color: @color-accent;
  }
  /* .header-cart__icon */
  &__icon {
    .make-fa-icon(@fa-shopping-cart);
    vertical-align: middle;
    margin-right: @indent-small;
    font-size: 1.3rem;
  }
  /* .header-cart__text */
  &__text {
    vertical-align: middle;
  }
  /* .header-cart__count */
  &__count {
    font-weight: 700;
    vertical-align: middle;
  }
}

// Desktop main navigation
@media (min-width: @screen-lg) {
  .main-nav {
    padding: @indent-small 0;
    text-align: right;

    /* .main-nav__bars */
    &__bars {
      display: none;
    }
    /* .main-nav__list */
    &__list {
      .clear-list();
    }
    /* .main-nav__item */
    &__item {
      position: relative;
      display: inline-block;
      text-align: left;

      &.has_submenu {

        // show submenu when hover on menu item
        &:hover,
        &:focus {
          > .main-nav-sub {
            display: block;
          }

          > .main-nav__link {
            color: @main-nav-active-color;
            background-color: @main-nav-active-background;
          }
        }

        .main-nav__link {
          .make-fa-icon(@fa-caret-down);

          &:after {
            margin-left: @indent-small;
          }
        }
      }
    }
    /* .main-nav__link */
    &__link {
      padding: @indent-medium @indent-small;
      font-size: @font-size-base;
      line-height: 1;
      word-wrap: break-word;
      color: @main-nav-color;
      background-color: @main-nav-background;

      &:hover,
      &:focus,
      &.active {
        color: @main-nav-active-color;
        background-color: @main-nav-active-background;
      }
    }
  }

  // Sub menu desktop
  .main-nav-sub {
    display: none;
    .clear-list();
    position: absolute;
    top: 100%;
    left: 0;
    background-color: @submenu-background;
    border: 1px solid @submenu-border-color;
    border-radius: 4px;
    min-width: 250px;

    /* .main-nav-sub__item */
    &__item {
      position: relative;
      border-bottom: 1px solid @submenu-border-color;

      &.has_submenu {

        // show submenu when hover on menu item
        &:hover,
        &:focus {
          > .main-nav-sub {
            display: block;
          }

          > .main-nav-sub__link {
            color: @submenu-hover-color;
            background-color: @submenu-hover-background;
          }
        }

        // submenu 3th level
        .main-nav-sub {
          top: 0;
          left: 100%;
        }

        > .main-nav-sub__link {
          .make-fa-icon(@fa-caret-right);
          position: relative;
          display: block;

          &:after {
            margin-left: @indent-small;
            position: absolute;
            right: 1rem;
          }
        }
      }
    }
    /* .main-nav-sub__link */
    &__link {
      display: block;
      padding: @indent-base;
      color: @submenu-color;
      font-size: @font-size-base;
      line-height: 1;
      word-wrap: break-word;

      &:hover,
      &:focus,
      &.active {
        color: @submenu-hover-color;
        background-color: @submenu-hover-background;
      }
    }
  }

}

// Mobile main navigation
@media (max-width: @screen-lg) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: @zindex-main-nav;
    width: calc(100vw - 70px);
    min-height: 100vh;
    background-color: @mobile-nav-background;
    transform: translateX(-100%);
    transition: @transition-duration;
    visibility: hidden;

    &.main_nav_show {
      transform: translateX(0);
      visibility: visible;
    }
    /* .main-nav__list */
    &__list {
      .clear-list();
    }
    /* .main-nav__close */
    &__close {
      .make-fa-icon(@fa-arrow-left);
      cursor: pointer;
      display: inline-block;
      color: @mobile-nav-color;
      font-size: 1.2rem;
      padding: @indent-medium;
    }
    /* .main-nav__bars-line */
    &__bars-line {
      display: block;
      height: 3px;
      margin-bottom: 2px;
      background-color: @mobile-nav-bars-color;
    }
  }

  .main-nav-sub {
    display: none;
    .clear-list();
  }

  .main-nav__item,
  .main-nav-sub__item {
    position: relative;

    &.has_submenu {

      > .main-nav__link,
      > .main-nav-sub__link {
        .make-fa-icon(@fa-caret-down);
        position: relative;
        display: block;

        &:after {
          position: absolute;
          right: 1rem;
        }
      }
    }

    &.show_sub_menu {
      > .main-nav-sub {
        display: block;
      }
    }
  }

  .main-nav__link,
  .main-nav-sub__link {
    display: block;
    color: @mobile-nav-color;
    background-color: @mobile-nav-background;
    border-bottom: 1px solid @mobile-nav-border-color;
    padding: @indent-medium;
    word-wrap: break-word;

    &:hover,
    &:focus,
    &.active {
      color: @mobile-nav-active-color;
      background-color: @mobile-nav-active-background;
    }
  }

  // Submenu 2nd level
  .main-nav-sub__link {
    padding-left: 2.5rem;
  }

  // Submenu 3th level
  .main-nav-sub__item {
    &.has_submenu {
      .main-nav-sub {
        .main-nav-sub__link {
          padding-left: 3.5rem;
        }
      }
    }
  }

}

.main-nav-bars {
  .hide-lg();
  .make-fa-icon(@fa-bars);
  cursor: pointer;
  color: @mobile-nav-bars-color;
  font-size: 1.4rem;
  padding: @indent-small;
}

.main-nav-lock-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @mobile-nav-lock-content-bg;
  z-index: @zindex-main-nav - 1;
  transition: @transition-duration;

  &.main_nav_show {
    visibility: visible;
    opacity: 1;
  }
}

// Header search form
.header-search {
  position: relative;

	/* .header-search__input */
	&__input[type="search"] {
    background-color: @search-background;
    border: 1px solid @search-border-color;
    border-radius: @search-border-radius;
    padding: @indent-small @indent-medium;
    padding-right: 2rem;
    width: 100%;
    height: auto;
    box-shadow: none;
    outline: none;
    color: @search-color;
    transition: border-color @transition-duration;

    &:hover,
    &:focus {
      border-color: @search-hover-border-color;
    }
	}
	/* .header-search__btn */
	&__btn {
    .reset-button();
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .5rem;
	}
  /* .header-search__icon */
  &__icon {
    .make-fa-icon(@fa-search);
    color: @search-icon-color;
  }
}
