// Shared files
@import '../shared/theme';
@import '../shared/mixins';

// temporary
body {
  background-color: #f7f7f7;
}

@page-title-size: 2rem;
@page-title-size-mobile: 1.5rem;
@page-sub-title-size: 1.1rem;
@accordion-title-size: 1.4rem;
@accordion-icon-size: 13px;
@accordion-icon-color: #757575;
@accordion-border-color: #b4b4b4;
@accordion-transition-duration: 0.5s;
@price-col-indent: 0.7rem;
@price-field-size: 1.15rem;
@price-field-indent: 0.7rem;
@form-field-indent: @indent-extra-small;

.make-pd-sub-title() {
  font-size: @page-sub-title-size;
  text-transform: uppercase;
}

.make-pd-field-col() {
  .make-col-ready(@form-field-indent);
  .make-col-sm(8);
}

.make-radio-icon() {
  .make-fa-icon(@fa-circle-o);
  font-size: 1.4rem;
  vertical-align: middle;

  &:hover,
  &:active {
    color: @color-accent;
  }
}

.make-radio-icon-active() {
  .make-fa-icon(@fa-dot-circle-o);
}

/* Product details page */

.product-details {
  .make-row();
}

.pd-info {
  .make-col-ready();
  .make-col-lg(4);

  /* .pd-info__inner */
  &__inner {
    .make-section();
    .make-row(0);
  }
}

.pd-title {
  .make-col-ready(0);
  .make-col(12);
  font-weight: 400;
  font-size: @page-title-size-mobile;

  @media (min-width: @screen-sm) {
    font-size: @page-title-size;
  }
}

.pd-skin {
  .make-col-ready(0);
  .make-col(12);
  .make-col-md(4);
  .make-col-lg(12);

  /* .pd-skin__image */
  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.pd-description {
  .make-col-ready(0);
  .make-col(12);
  .make-col-md(8);
  .make-col-lg(12);

  @media (min-width: @screen-sm) {
    padding-left: @indent-base;
  }

  @media (min-width: @screen-lg) {
    padding: @indent-small 0;
  }
}

.pd-accordion {
  border-bottom: 1px solid @accordion-border-color;

  /* .pd-accordion__title */
  &__title {
    cursor: pointer;
    position: relative;
    font-size: @accordion-title-size;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding-top: @indent-base;
    padding-bottom: @indent-base;
    padding-left: 30px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      margin: auto;
      width: @accordion-icon-size;
      height: 3px;
      background-color: @accordion-icon-color;
      transition: @accordion-transition-duration;
    }

    &:before {
      transform: rotate(90deg);
    }
  }

  /* .pd-accordion__inner */
  &__inner {
    overflow: hidden;
  }

  /* .pd-accordion__content */
  &__content {
    word-break: break-word;
    padding-bottom: @indent-base;
  }

  &.accordion_open & {
    /* .pd-accordion__title */
    &__title {
      &:before {
        transform: rotate(0);
      }
    }
  }
}

.expand-enter-active,
.expand-leave-active {
  transition: height @accordion-transition-duration ease-in-out;
}

.pd-content {
  .make-col-ready();
  .make-col-lg(8);
}

.pd-linked-cards {
  .make-section();

  /* .pd-linked-cards__title */
  &__title {
    .make-pd-sub-title();
  }

  /* .pd-linked-cards__row */
  &__row {
    .make-row();
  }

  /* .pd-linked-cards__col */
  &__col {
    .make-col-ready();
    .make-col(12);
    .make-col-equal-sm();
  }

  /* .pd-linked-cards__item */
  &__item {
    display: block;
    color: inherit;

    &:hover,
    &:active {
      color: @color-accent;
    }
  }

  /* .pd-linked-cards__img-wrap */
  &__img-wrap {
    @media (max-width: @screen-sm) {
      .hide();
    }
  }

  /* .pd-linked-cards__image */
  &__image {
    width: 100%;
  }

  /* .pd-linked-cards__inner */
  &__inner {
    padding-top: @indent-small;
    line-height: 1.3;
  }

  /* .pd-linked-cards__icon */
  &__icon {
    .make-radio-icon();
  }

  /* .pd-linked-cards__name */
  &__name {
    padding-left: @indent-small;
    vertical-align: middle;
  }
}

.pd-highlight-section {
  .make-highlight-section();

  /* .pd-highlight-section__title */
  &__title {
    margin: 0;
    line-height: 1;
  }
  /* .pd-highlight-section__content */
  &__content {
    padding-top: @indent-base;
  }
}

.pd-promotion {
  /* .pd-promotion__title */
  &__title {
    .make-pd-sub-title();
  }
  /* .pd-promotion__desc */
  &__desc {
    font-size: 1.15rem;
    margin: 0;
  }
  /* .pd-promotion__row */
  &__row {
    .make-row();
    justify-content: space-between;
    align-items: flex-end;
    padding-top: @indent-base;
  }
  /* .pd-promotion__restrictions */
  &__restrictions {
    .make-col-ready();
    .make-col-auto();
    flex-grow: 1;
  }
  /* .pd-promotion__list */
  &__list {
    margin: 0;
    padding-left: @indent-large;
  }
  /* .pd-promotion__list-item */
  &__list-item {
    margin-bottom: @indent-small;
  }
  /* .pd-promotion__terms */
  &__terms {
    .make-col-ready();
    .make-col-auto();
  }
  /* .pd-promotion__terms-link */
  &__terms-link {
    font-size: 0.9rem;
  }
}

.pd-bonus-card {
  /* .pd-bonus-card__title */
  &__title {
    .make-pd-sub-title();
  }
  /* .pd-bonus-card__row */
  &__row {
    .make-row();
  }
  /* .pd-bonus-card__img-wrap */
  &__img-wrap {
    .make-col-ready();
    .make-col(12);
    .make-col-sm(3);
  }
  /* .pd-bonus-card__img */
  &__img {
    width: 100%;
  }
  /* .pd-bonus-card__content */
  &__content {
    .make-col-ready();
    .make-col-auto();
  }
  /* .pd-bonus-card__sub-title */
  &__sub-title {
    font-size: 1.2rem;
  }
  /* .pd-bonus-card__exp */
  &__exp {
    font-size: 0.9rem;
  }
  /* .pd-bonus-card__desc */
  &__desc {
    .truncate-text();
    padding: @indent-small 0;
  }
}

.pd-switch {
  .make-section();

  /* .pd-switch__row */
  &__row {
    .make-row(0);
  }
  /* .pd-switch__title */
  &__title {
    .make-pd-sub-title();
    .make-col-ready(0);
    .make-col-auto();
    margin: 0;
    padding-right: @indent-base;
  }
  /* .pd-switch__controls */
  &__controls {
    .make-col-ready(0);
    .make-col-auto();

    @media (max-width: @screen-sm) {
      padding-top: @indent-medium;
    }
  }
  /* .pd-switch__control */
  &__control {
    color: inherit;
    margin: 0 @indent-small;
  }
  /* .pd-switch__icon */
  &__icon {
    .make-radio-icon();
  }
  /* .pd-switch__name */
  &__name {
    vertical-align: middle;
    margin-left: @indent-small;
  }
}

.pd_switch_current {
  font-weight: 700;

  .pd-switch__icon {
    .make-radio-icon-active();
    color: @color-accent;
  }
}

.pd-price {
  border-bottom: 1px solid #ccc;
  padding-bottom: @indent-base;

  /* .pd-price__title */
  &__title {
    font-weight: 700;
  }
  /* .pd-price__fields */
  &__fields {
    .make-row(@price-col-indent);
    padding-top: @indent-base;
  }
  /* .pd-price__field */
  &__field {
    .make-col-ready(@price-col-indent);
    .make-col-auto();
    margin-bottom: @price-col-indent;
  }
  /* .pd-price__radio-field */
  &__radio-field {
    .hide();
  }
  /* .pd-price__radio-label */
  &__radio-label {
    .make-btn();
    .make-btn-outline();
    min-width: 60px;
    padding-top: @price-field-indent;
    padding-bottom: @price-field-indent;
    font-size: @price-field-size;
  }
  /* .pd-price__variable-field */
  &__variable-field {
    display: flex;
  }
  /* .pd-price__input-text */
  &__input-text {
    .make-btn();
    padding-top: @price-field-indent;
    padding-bottom: @price-field-indent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    font-size: @price-field-size;
  }
  /* .pd-price__input */
  &__input[type] {
    height: 100%;
    width: 140px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 none;
    font-size: @price-field-size;
    text-align: center;
  }
}

.pd-form {
  .make-section();

  /* .pd-form__fields */
  &__fields {
    padding-top: @indent-base;
  }
  /* .pd-form__row */
  &__row {
    .make-row(@form-field-indent);
    margin-bottom: @indent-base;
  }
  /* .pd-form__label-col */
  &__label-col {
    .make-col-ready(@form-field-indent);
    .make-col-sm(4);
    padding-top: @indent-small;
    padding-bottom: @indent-small;

    @media (min-width: @screen-sm) {
      padding-right: @indent-medium;
      text-align: right;
    }
  }
  /* .pd-form__label */
  &__label {
    font-weight: 700;
  }
  /* .pd-form__field-col */
  &__field-col {
    .make-pd-field-col();
  }
  /* .pd-form__input */
  &__input {
    width: 100%;
  }
  /* .pd-form__fields-title */
  &__fields-title {
    .make-pd-field-col();
    margin-left: auto;
    margin-bottom: @indent-base;
  }
  /* .pd-form__warn-label */
  &__warn-label {
    font-size: 0.85rem;
  }
  /* .pd-form__submit-wrap */
  &__submit-wrap {
    .make-pd-field-col();
    margin-top: @indent-large;
    margin-left: auto;
  }
  /* .pd-form__submit-btn */
  &__submit-btn {
    .make-btn-icon(@fa-shopping-cart, 2rem);
    width: 100%;
  }
}

.pd_quantity_input {
  max-width: 70px;
  text-align: center;
}

.pd-self-ux {
  /* .pd-self-ux__btn */
  &__btn {
    min-width: 50px;

    &:not(:last-child) {
      margin-right: @indent-small;
    }
  }
}

.self_ux_btn_active {
  .make-btn-outline();
}
