// Shared files
@import '../shared/theme';
@import '../shared/mixins';

// Variables
@page-title-color: @title-color;
@page-title-size: @h1-font-size;
@product-name-color: @color-black;
@product-name-size: 1.4rem;
@price-color: @color-black;
@filter-title-color: @color-accent;
@filter-title-size: 1.8rem;
@filter-name-color: @color-accent-text;
@filter-name-background: @color-accent;
@filter-name-size: 1.2rem;

.recent-products {
  .make-row();
}

.rp-filter {
  .make-col-ready();
  .make-col(12);
  .make-col-md(3);

	/* .rp-filter__title */
	&__title {
    color: @filter-title-color;
    font-size: @filter-title-size;

    @media (max-width: @screen-sm) {
      .make-fa-icon(@fa-angle-down);

      &:after {
        float: right;
      }

      &.mobile_show {
        .make-fa-icon(@fa-angle-up);
      }
    }
	}
  /* .rp-filter__groups */
  &__groups {
    @media (max-width: @screen-sm) {
      display: none;

      &.mobile_show {
        display: block;
      }
    }
  }
	/* .rp-filter__group */
	&__group {
    padding: @indent-base 0;
	}
	/* .rp-filter__group-name */
	&__group-name {
    .make-fa-icon(@fa-angle-up);
    cursor: pointer;
    position: relative;
    font-size: @filter-name-size;
    text-transform: uppercase;
    color: @filter-name-color;
    margin: 0;
    background-color: @filter-name-background;
    padding: @indent-small;

    &:after {
      position: absolute;
      top: .7em;
      right: .5em;
    }

    &.group_hide {
      .make-fa-icon(@fa-angle-down);
    }
	}
	/* .rp-filter__list */
	&__list {
    .clear-list();
	}
	/* .rp-filter__list-item */
	&__list-item {
    cursor: pointer;
    border-bottom: 1px solid @color-gray-300;
    padding: @indent-base @indent-extra-small;
	}
	/* .rp-filter__label */
	&__label {
    cursor: pointer;
    color: @color-primary;
	}
  /* .rp-filter__label-active */
  &__label-active {
    color: @color-black;
    font-weight: 700;
  }
  /* .rp-filter__count */
  &__count {
    float: right;
  }
	/* .rp-filter__checkbox */
	&__checkbox {
    display: none;
	}
}

.rp-content {
  .make-col-ready();
  .make-col-equal();

	/* .rp-content__title */
	&__title {
    color: @page-title-color;
    font-size: @page-title-size;
	}
}

.rp-controls {
  .make-section();

  /* .rp-controls__row */
  &__row {
    .make-row();
  }
	/* .rp-controls__item */
	&__item {
    .make-col-ready();
    .make-col(12);
    .make-col-auto-md();
	}
	/* .rp-controls__label */
	&__label {
    font-weight: 700;
	}
	/* .rp-controls__select */
	&__select {
    margin-left: @indent-small;
	}
}

.control_align_right {
  margin-left: auto;
}

.products {
  .make-row();
  padding-top: @indent-base;
}

.product {
  .make-col-ready();
  .make-col(12);
  .make-col-md(6);
  .make-col-lg(4);
  margin-bottom: @indent-base;

	/* .product__img-wrap */
	&__img-wrap {
    position: relative;
	}
	/* .product__img-link */
	&__img-link {
    display: block;
	}
	/* .product__img */
	&__img {
    width: 100%;
    height: auto;
	}
  /* .product__overlay */
  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
  }
	/* .product__label */
	&__label {
    display: inline-block;
    color: @color-white;
    padding: @indent-extra-small @indent-small;
	}
	/* .product__info */
	&__info {
    margin-top: @indent-base;
	}
	/* .product__name */
	&__name {
    display: block;
    color: @product-name-color;
    font-size: @product-name-size;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: @indent-base;
    line-height: 1;
	}
	/* .product__excerpt */
	&__excerpt {
    color: @color-primary;
	}
	/* .product__price */
	&__price {
    margin-top: @indent-base;
	}
	/* .product__price-value */
	&__price-value {
    font-weight: 700;
    color: @price-color;
	}
	/* .product__type-label */
	&__type-label {
    .make-badge();
	}
}

.label_new {
  background-color: @color-success;
}

.label_out_of_stock {
  background-color: @color-danger;
}
