@import url(@external-font-url);

// Common base styles

// Use box-sizing border-box model for all elements
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  min-width: @content-min-width;
}

a {
  color: @color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @color-link-hover;
  }
}

// Page layout with sticky footer
.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header,
  .footer {
    flex-shrink: 0;
  }

  .page-container {
    flex-grow: 1;
  }
}

// Main container
.page-container {
  .make-page-container();
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// Responsive image
img {
  max-width: 100%;
}
