// Define typography

html {
  font-family: @font-family;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
}

body {
  position: relative;
	background: @body-background;
  color: @content-color;
}

p {
  margin-top: 0;
  margin-bottom: @indent-extra-small;
}

h1, h2, h3, h4, h5 {
  font-family: @font-family-title;
  line-height: @line-height-title;
  font-weight: @font-weight-title;
  margin-top: 0;
  margin-bottom: @indent-small;
}

h1, .h1 {
  font-size: @h1-font-size;
}

h2 {
  font-size: @h2-font-size;
}

h3 {
  font-size: @h3-font-size;
}

h4 {
  font-size: @h4-font-size;
}

h5 {
  font-size: @h5-font-size;
}
