<section class="breadcrumb">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__list-item">
      <a href="#" class="breadcrumb__item breadcrumb__link">Home</a>
    </li>
    <li class="breadcrumb__list-item">
      <a href="#" class="breadcrumb__item breadcrumb__link">Category Name</a>
    </li>
    <li class="breadcrumb__list-item">
      <span class="breadcrumb__item">Outback Steakhouse eGift</span>
    </li>
  </ul>
</section>
