<footer class="footer">
  <div class="footer__container">

    <div class="footer__row">

      <div class="footer__col">
        <h4 class="footer__title">About Us</h4>
        <ul class="footer-nav">
          <li class="footer-nav__item">
            <a href="#">Contact Us</a>
          </li>
          <li class="footer-nav__item">
            <a href="#">About</a>
          </li>
          <li class="footer-nav__item">
            <a href="#">FAQ's</a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <h4 class="footer__title">Links</h4>
        <ul class="footer-nav">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Privacy Policy</a>
          </li>
          <li class="footer-nav__item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <h4 class="footer__title">Follow Us</h4>
        <ul class="social-list">
          <li class="social-list__item">
            <a href="#">
              <i class="social-list__icon fa-facebook"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#">
              <i class="social-list__icon fa-twitter"></i>
            </a>
          </li>
          <li class="social-list__item">
            <a href="#">
              <i class="social-list__icon fa-pinterest"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer-copy">
      © 2018 Blackhawk Network, Inc. All Rights Reserved. Use of this website constitutes acceptance of our website’s <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions.</a>
    </div>

  </div>
</footer>
