<header class="header">
  <div class="header-bar">
    <div class="header-bar__container">
      <div class="header-bar__row">

        <div class="header-bar__actions">
          <div class="header-bar__dropdown dropdown">
            <span class="header-bar__dropdown-toggle dropdown__toggle">City</span>

            <div class="dropdown__menu">
              <a href="#" class="dropdown__item active">City</a>
              <a href="#" class="dropdown__item">City 2</a>
            </div>
          </div>

          <div class="header-bar__nav">
            <span class="header-bar__nav-toggle">Account</span>

            <div class="header-bar__nav-menu">
              <a href="#" class="header-bar__nav-item">Login</a>
              <a href="#" class="header-bar__nav-item">Register</a>
            </div>
          </div>

          <div class="header-cart">
            <i class="header-cart__icon"></i>

            <a href="/" class="header-cart__link">
              <span class="header-cart__text">Cart:</span>
              <span class="header-cart__count">0</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="header__container">
    <div class="header__row">

      <div class="header__logo">
        <a href="/">
          <img
            class="header__logo-img"
            src="/images/logo.png"
            alt="">

        </a>
      </div>

      <div class="header__nav-wrap">
        @@include('navigation.html')
      </div>

      <div class="header__search-wrap">

        <form
          class="header-search"
          action="">

          <input
            class="header-search__input"
            type="search"
            name="search"
            placeholder="Search...">

          <button
            class="header-search__btn"
            type="submit">

            <i class="header-search__icon" title="Search"></i>
          </button>

        </form>

      </div>

    </div>
  </div>

</header>

<div class="main-nav-lock-content"></div>
