<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link href="styles/load-styles.css" rel="stylesheet" media="screen"> -->
<link href="styles/main.css" rel="stylesheet" media="screen">

<!-- <link href="images/favicon.ico" rel="icon" type="image/x-icon"> -->
