<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@2.2.0/dist/vee-validate.js"></script>
<script src="scripts/load-scripts.js"></script>
<script src="scripts/main.js"></script>
