<i class="main-nav-bars"></i>

<nav class="main-nav">
  <i class="main-nav__close"></i>

  <ul class="main-nav__list">

    <li class="main-nav__item has_submenu">
      <a href="#" class="main-nav__link">Buy Gift Cards</a>

      <ul class="main-nav-sub">

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 1</a>
        </li>

        <li class="main-nav-sub__item has_submenu">
          <a href="#" class="main-nav-sub__link">Item 2</a>

          <ul class="main-nav-sub">

            <li class="main-nav-sub__item">
              <a href="#" class="main-nav-sub__link">Item 2.1</a>
            </li>

            <li class="main-nav-sub__item">
              <a href="#" class="main-nav-sub__link">Item 2.2</a>
            </li>

            <li class="main-nav-sub__item">
              <a href="#" class="main-nav-sub__link">Item 2.3</a>
            </li>

          </ul>

        </li>

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 3</a>
        </li>

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 4</a>
        </li>

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 5</a>
        </li>

      </ul>
    </li>

    <li class="main-nav__item">
      <a href="#" class="main-nav__link">E-Gift Cards</a>
    </li>

    <li class="main-nav__item has_submenu">
      <a href="#" class="main-nav__link">Categories</a>

      <ul class="main-nav-sub">

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 1</a>
        </li>

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 2</a>
        </li>

        <li class="main-nav-sub__item">
          <a href="#" class="main-nav-sub__link">Item 3</a>
        </li>

      </ul>
    </li>

    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Design Your Own</a>
    </li>

    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Promotion</a>
    </li>

  </ul>
</nav>
