<div class="pagination">
  <span class="pagination__count">Items 1 to 30 of 120</span>

  <div class="pagination__items">
    <span class="pagination__item pagination_item_prev pagination_item_disabled">
      <i class="pagination__icon pagination__icon-prev"></i>
    </span>
    <span class="pagination__item pagination_item_current">1</span>
    <a href="#" class="pagination__item">2</a>
    <a href="#" class="pagination__item">3</a>
    <a href="#" class="pagination__item">4</a>
    <a href="#" class="pagination__item pagination_item_next">
      <i class="pagination__icon pagination__icon-next"></i>
    </a>
  </div>
</div>
