<template id="egift-delivery-details-template">
  <div class="pd-form__delivery-details">
    <div class="pd-form__fields-title">
      Egift delivery details:
    </div>

    <div class="pd-form__row pd_recipient_name">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="recipientName">To</label>
      </div>
      <div class="pd-form__field-col">
        <input
          id="recipientName"
          class="pd-form__input pd_recipient_name_input"
          type="text"
          name="recipientName"
          v-model="recipientName.value"
          v-validate="recipientName.rules"
        />
        <span>{{ errors.first('recipientName') }}</span>
      </div>
    </div>

    <div class="pd-form__row pd_recipient_email">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="recipientEmail">Email</label>
      </div>
      <div class="pd-form__field-col">
        <input
          id="recipientEmail"
          class="pd-form__input pd_recipient_email_input"
          type="email"
          name="recipientEmail"
          ref="recipientEmail"
          v-model="recipientEmail.value"
          v-validate="recipientEmail.rules"
        />
        <span>{{ errors.first('recipientEmail') }}</span>
      </div>
    </div>

    <div class="pd-form__row pd_recipient_confirm_email">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="confirmRecipientEmail">Confirm Email</label>
      </div>
      <div class="pd-form__field-col">
        <input
          id="confirmRecipientEmail"
          class="pd-form__input pd_recipient_confirm_email_input"
          type="email"
          autocomplete="nofill"
          name="confirmRecipientEmail"
          v-model="confirmRecipientEmail.value"
          v-validate="confirmRecipientEmail.rules"
        />
        <span>{{ errors.first('confirmRecipientEmail') }}</span>
      </div>
    </div>

    <div class="pd-form__row pd_sender_name">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="senderName">From</label>
      </div>
      <div class="pd-form__field-col">
        <input
          id="senderName"
          class="pd-form__input pd_sender_name_input"
          type="text"
          name="senderName"
          v-model="senderName.value"
          v-validate="senderName.rules"
        />
        <span>{{ errors.first('senderName') }}</span>
      </div>
    </div>

    <div class="pd-form__row pd_recipient_message">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="recipientMessage">Gift Card Message</label>
      </div>
      <div class="pd-form__field-col">
        <textarea
          id="recipientMessage"
          class="pd-form__input pd_recipient_message_input"
          name="recipientMessage"
          v-model="recipientMessage.value"
          v-validate="recipientMessage.rules"
        ></textarea>

        <span>{{ errors.first('recipientMessage') }}</span>

        <div class="pd-form__warn-label">
          Messages containing derogatory language may be found to be inappropriate and will not be
          forwarded and/or deleted.
        </div>
      </div>
    </div>

    <div class="pd-form__row pd_delivery">
      <div class="pd-form__label-col">
        <label class="pd-form__label" for="deliveryDate">Delivery</label>
      </div>
      <div class="pd-form__field-col">
        <input
          id="deliveryDate"
          class="pd-form__input pd_delivery_input"
          type="text"
          name="deliveryDate"
          v-model="deliveryDate.value"
          v-validate="deliveryDate.rules"
        />
        <span>{{ errors.first('deliveryDate') }}</span>
      </div>
    </div>
  </div>
</template>
