<section id="product-details-page" class="product-details">
  <div class="pd-info">
    <div class="pd-info__inner">
      <h1 class="pd-title">Outback Steakhouse eGift</h1>

      <div class="pd-skin">
        <img
          src="//nicholas-bhn-devqa.qa.ck.ua/en/giftCardSkin/18207"
          alt=""
          class="pd-skin__image"
        />
      </div>

      <div class="pd-description">
        <pd-accordion :title="'Description:'" :open="true">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, numquam?
        </pd-accordion>

        <pd-accordion :title="'Details:'">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, numquam?
        </pd-accordion>

        <pd-accordion :title="'Redemption instructions:'">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, numquam?
        </pd-accordion>
      </div>
    </div>
  </div>

  <div class="pd-content">
    <div class="pd-linked-cards">
      <h2 class="pd-linked-cards__title">Select gift card</h2>

      <div class="pd-linked-cards__row">
        <div class="pd-linked-cards__col">
          <a href="#" class="pd-linked-cards__item">
            <div class="pd-linked-cards__img-wrap">
              <img
                src="//nicholas-bhn-devqa.qa.ck.ua/en/giftCardSkin/18641"
                alt=""
                class="pd-linked-cards__image"
              />
            </div>
            <div class="pd-linked-cards__inner">
              <span class="pd-linked-cards__icon"></span>
              <span class="pd-linked-cards__name">Amazon.com eGift FRC</span>
            </div>
          </a>
        </div>

        <div class="pd-linked-cards__col">
          <a href="#" class="pd-linked-cards__item">
            <div class="pd-linked-cards__img-wrap">
              <img
                src="//nicholas-bhn-devqa.qa.ck.ua/en/giftCardSkin/18641"
                alt=""
                class="pd-linked-cards__image"
              />
            </div>
            <div class="pd-linked-cards__inner">
              <span class="pd-linked-cards__icon"></span>
              <span class="pd-linked-cards__name">Amazon.com eGift FRC</span>
            </div>
          </a>
        </div>

        <div class="pd-linked-cards__col">
          <a href="#" class="pd-linked-cards__item">
            <div class="pd-linked-cards__img-wrap">
              <img
                src="//nicholas-bhn-devqa.qa.ck.ua/en/giftCardSkin/18641"
                alt=""
                class="pd-linked-cards__image"
              />
            </div>
            <div class="pd-linked-cards__inner">
              <span class="pd-linked-cards__icon"></span>
              <span class="pd-linked-cards__name">Amazon.com eGift FRC</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="pd-highlight-section pd-promotion">
      <h3 class="pd-highlight-section__title pd-promotion__title">Promotion</h3>
      <div class="pd-highlight-section__content">
        <p class="pd-promotion__desc">
          For every 50 worth of Gift Cards purchased, get 40 Off!
        </p>

        <div class="pd-promotion__row">
          <div class="pd-promotion__restrictions">
            <ul class="pd-promotion__list">
              <li class="pd-promotion__list-item restriction_location">
                Valid online in NYC
              </li>
              <li class="pd-promotion__list-item restriction_date">
                Offer valid from 09/12/2018 to 12/17/2037
              </li>
            </ul>
          </div>

          <div class="pd-promotion__terms">
            <a href="#" class="pd-promotion__terms-link">*Terms and condition</a>
          </div>
        </div>
      </div>
    </div>

    <div class="pd-highlight-section pd-bonus-card">
      <h3 class="pd-highlight-section__title pd-bonus-card__title">
        Bonus card
      </h3>
      <div class="pd-highlight-section__content">
        <div class="pd-bonus-card__row">
          <div class="pd-bonus-card__img-wrap">
            <img
              src="//nicholas-bhn-devqa.qa.ck.ua/en/giftCardSkin/18641"
              alt=""
              class="pd-bonus-card__img"
            />
          </div>

          <div class="pd-bonus-card__content">
            <h4 class="pd-bonus-card__sub-title">Bonus card sub title</h4>

            <em class="pd-bonus-card__exp">Offer valid through: 02/14/2037</em>

            <div class="pd-bonus-card__desc">
              <p>Bonus card desc</p>
            </div>

            <a href="#" class="pd-bonus-card__more-details">More details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="pd-switch">
      <div class="pd-switch__row">
        <h2 class="pd-switch__title">Choice card type</h2>

        <div class="pd-switch__controls">
          <a href="#" class="pd-switch__control pd_switch_egift pd_switch_current">
            <span class="pd-switch__icon"></span>
            <span class="pd-switch__name">eGift Card</span>
          </a>

          <a href="#" class="pd-switch__control pd_switch_pgift">
            <span class="pd-switch__icon"></span>
            <span class="pd-switch__name">Physical Gift Card</span>
          </a>
        </div>
      </div>
    </div>

    <form class="pd-form" action="" @submit.prevent="onSubmit">
      <pd-price
        ref="price"
        v-model="price.value"
        :prefix="price.prefix"
        :fixed="price.range"
        :rules="price.rules"
      ></pd-price>

      <div class="pd-form__fields">
        <div class="pd-form__row pd_quantity">
          <div class="pd-form__label-col">
            <label class="pd-form__label" for="quantity">Quantity</label>
          </div>
          <div class="pd-form__field-col">
            <input
              id="quantity"
              class="pd-form__input pd_quantity_input"
              type="number"
              name="quantity"
              v-model="quantity.value"
              v-validate="quantity.rules"
              :min="quantity.rules.min_value"
              :max="quantity.rules.max_value"
            />
            <div>{{ errors.first('quantity') }}</div>
          </div>
        </div>

        <div class="pd-form__row pd_self_ux">
          <div class="pd-form__label-col">
            <label class="pd-form__label" for="">
              <span class="pd-self-ux__icon"></span>
              Is this a gift?
            </label>
          </div>
          <div class="pd-form__field-col">
            <div class="pd-self-ux">
              <button
                class="btn pd-self-ux__btn"
                :class="{ 'self_ux_btn_active': !self }"
                type="button"
                @click="self = true"
              >
                No
              </button>
              <button
                class="btn pd-self-ux__btn"
                :class="{ 'self_ux_btn_active': self }"
                type="button"
                @click="self = false"
              >
                Yes
              </button>
            </div>
          </div>
        </div>

        <template v-if="!self">
          <egift-delivery-details></egift-delivery-details>
        </template>

        <template v-else>
          <div class="pd-form__fields-title">
            We'll send the eGift(s) to the email address provided during checkout.
          </div>
        </template>

        <div class="pd-form__submit-wrap">
          <button class="btn btn_big pd-form__submit-btn" type="submit" @click.prevent="onSubmit">
            Add to Basket
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<template id="pd-accordion-template">
  <div class="pd-accordion" :class="{ 'accordion_open': isOpen }">
    <h2 class="pd-accordion__title" @click="isOpen = !isOpen">{{ title }}</h2>

    <transition name="expand" @enter="enter" @after-enter="afterEnter" @leave="leave">
      <div v-if="isOpen" class="pd-accordion__inner">
        <div class="pd-accordion__content">
          <slot></slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<template id="pd-price-template">
  <div class="pd-price">
    <span class="pd-price__title">
      Select or Enter an amount between {{ minPrice }} and {{ maxPrice }}
    </span>

    <div class="pd-price__fields">
      <template v-for="(price, index) in fixed">
        <div
          class="pd-price__field pd-price__fixed-field"
          :class="{ 'pd_price_selected': current === price }"
        >
          <input class="pd-price__radio-field" type="radio" name="price" :value="price" />

          <label
            class="pd-price__radio-label"
            :class="{ 'active': current === price }"
            @click="select(price)"
          >
            {{ prefix }} {{ price }}
          </label>
        </div>
      </template>

      <div class="pd-price__field pd-price__variable-field">
        <span class="pd-price__input-text">{{ prefix }}</span>
        <input
          ref="input"
          class="pd-price__input"
          type="number"
          name="price"
          placeholder="Enter amount"
          :min="rules.min_value"
          :max="rules.max_value"
          @input="enter"
        />
      </div>
    </div>

    <span class="error" v-if="!isValid">
      {{ validationError }}
    </span>
  </div>
</template>

@@include('product-egift-fields.html')
