<div class="recent-products">

  <div class="rp-filter">
    <h2 class="rp-filter__title">Filters</h2>

    <div class="rp-filter__groups">
      <div class="rp-filter__group">
        <h3 class="rp-filter__group-name">Type</h3>

        <ul class="rp-filter__list">

          <li class="rp-filter__list-item">
            <label class="rp-filter__label rp-filter__label-active">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              Retail Stores
              <span class="rp-filter__count">(311)</span>
            </label>
          </li>

          <li class="rp-filter__list-item">
            <label class="rp-filter__label">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              Visa
              <span class="rp-filter__count">(709)</span>
            </label>
          </li>

          <li class="rp-filter__list-item">
            <label class="rp-filter__label">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              E-gift
              <span class="rp-filter__count">(388)</span>
            </label>
          </li>

        </ul>
      </div>

      <div class="rp-filter__group">
        <h3 class="rp-filter__group-name">Categories</h3>

        <ul class="rp-filter__list">

          <li class="rp-filter__list-item">
            <label class="rp-filter__label rp-filter__label-active">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              Travel
              <span class="rp-filter__count">(18)</span>
            </label>
          </li>

          <li class="rp-filter__list-item">
            <label class="rp-filter__label">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              Beauty
              <span class="rp-filter__count">(28)</span>
            </label>
          </li>

          <li class="rp-filter__list-item">
            <label class="rp-filter__label">
              <input class="rp-filter__checkbox" type="checkbox" name="">
              Christmas
              <span class="rp-filter__count">(88)</span>
            </label>
          </li>

        </ul>
      </div>

    </div>
  </div>

  <div class="rp-content">
    <h1 class="rp-content__title">All Categories</h1>

    <div class="rp-controls">
      <div class="rp-controls__row">

        <div class="rp-controls__item rp-control-per-page">
          <label for="items-per-page" class="rp-controls__label">Show</label>

          <select id="items-per-page" name="per-page" class="rp-controls__select">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>

        <div class="rp-controls__item rp-control-sort-by control_align_right">
          <label for="sort-by" class="rp-controls__label">Sort By</label>

          <select id="sort-by" name="sort-by" class="rp-controls__select">
            <option value="">Most Popular</option>
            <option value="">Latest</option>
            <option value="">Price: Lowest first</option>
            <option value="">Price: Highest first</option>
          </select>
        </div>

      </div>
    </div>

    @@include('pagination.html')

    <div class="products">

      <div class="product">
        <div class="product__img-wrap">
          <a href="#" class="product__img-link">
            <img src="https://productimages.nimbledeals.com/nimblebuy/happy-dining-gift-card-2-45360-small_lv.jpg" alt="" class="product__img">
          </a>

          <div class="product__overlay">
            <span class="product__label label_new">New</span>
          </div>
        </div>

        <div class="product__info">
          <a href="#" class="product__name">Happy Dining Gift Card</a>

          <p class="product__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, voluptas?</p>

          <div class="product__price">
            <span class="product__price-value">
              $20
              <span class="product__price-line">-</span>
              $500
            </span>

            <span class="product__type-label">Mail</span>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__img-wrap">
          <a href="#" class="product__img-link">
            <img src="https://productimages.nimbledeals.com/nimblebuy/happy-local-eats-west-gift-card-3-45363-small_lv.jpg" alt="" class="product__img">
          </a>

          <div class="product__overlay">
            <span class="product__label label_out_of_stock">Out of Stock</span>
          </div>
        </div>

        <div class="product__info">
          <a href="#" class="product__name">Happy Dining Gift Card</a>

          <p class="product__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, voluptas?</p>

          <div class="product__price">
            <span class="product__price-value">
              $20
              <span class="product__price-line">-</span>
              $500
            </span>

            <span class="product__type-label">Mail</span>
          </div>
        </div>
      </div>

      <div class="product">
        <div class="product__img-wrap">
          <a href="#" class="product__img-link">
            <img src="https://productimages.nimbledeals.com/nimblebuy/happy-bites-gift-card-2-45362-small_lv.jpg" alt="" class="product__img">
          </a>

          <div class="product__overlay">
            <span class="product__label label_new">New</span>
            <span class="product__label label_out_of_stock">Out of Stock</span>
          </div>
        </div>

        <div class="product__info">
          <a href="#" class="product__name">Happy Dining Gift Card</a>

          <p class="product__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, voluptas?</p>

          <div class="product__price">
            <span class="product__price-value">
              $20
              <span class="product__price-line">-</span>
              $500
            </span>

            <span class="product__type-label">Mail</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
