.make-badge() {
  display: inline-block;
  vertical-align: middle;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  color: @color-accent-text;
  background-color: @color-accent;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
}
