// Mxins for making button

.reset-button() {
  background: none;
  border: none;
  box-shadow: none;
}

.make-btn() {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: @btn-padding;
  background: @btn-background;
  border: @btn-border;
  border-radius: @btn-border-radius;
  color: @btn-color;
  font-size: @btn-text-size;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
  transition: @transition-duration;

  &:hover,
  &:focus,
  &.active {
    background: @btn-hover-background;
    color: @btn-hover-color;
  }

  &[disabled] {
    cursor: default;
    opacity: .8;
    background: @btn-background;
    color: @btn-color;
  }
}

.make-btn-big() {
  font-size: @btn-big-text-size;
  padding: @btn-big-padding;
}

.make-btn-icon(@icon, @size) {
  .make-fa-icon(@icon, 'before');

  &:before {
    margin-right: @indent-small;
    font-size: @size;
  }
}

.make-btn-outline() {
  background: @btn-outline-background;
  color: @btn-outline-color;
  border: @btn-outline-border;
}
