// Mixin for making dropdown

.make-dropdown(@menu-selector: '.dropdown-menu') {
  @selector: ~'@{menu-selector}';
  position: relative;

  &:hover {
    @{selector} {
      .show();
    }
  }
}

.make-dropdown-toggle() {
  .make-fa-icon(@fa-caret-down);
  padding-right: @indent-small;
  padding-left: @indent-small;

  &:after {
    margin-left: @indent-small;
  }
}

.make-dropdown-menu() {
  .hide();
  position: absolute;
  top: calc(100% - @dropdown-border-width);
  right: 0;
  z-index: @zindex-dropdown;
  min-width: 120px;
  padding: @dropdown-padding;
  margin: .125rem 0 0;
  list-style: none;
  font-size: @font-size-base;
  text-align: left;
  color: @dropdown-color;
  background-color: @dropdown-background;
  border: @dropdown-border-width solid @dropdown-border-color;
  border-radius: @dropdown-border-radius;
}

.make-dropdown-item() {
  display: block;
  width: 100%;
  padding: @indent-small @indent-large;
  color: inherit;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

  &:hover,
  &:focus {
    color: inherit;
    background-color: @dropdown-hover-color;
    text-decoration: none;
  }

  &.active {
    font-weight: 500;
    color: inherit;
    background-color: transparent;
    .make-fa-icon(@fa-check; 'before');

    &:before {
      margin-right: @indent-small;
    }
  }
}
