// Mixin for making grid
// Grid system
// See https://getbootstrap.com/docs/4.1/layout/grid/

// Example to use

/*
HTML

<div class="example-container">
  <div class="example-row">
    <div class="example-content-main">Main content</div>
    <div class="example-content-secondary">Secondary content</div>
  </div>
</div>

LESS

.example-container {
  .make-container();
}

.example-row {
  .make-row();
}

.example-content-main {
  .make-col-ready();
  .make-col(6);
  .make-col-md(8);
}

.example-content-secondary {
  .make-col-ready();
  .make-col(6);
  .make-col-md(4);
}
*/

// Breakpoints
@screen-xs: 0;
@screen-sm: 544px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;

// Sizes
@grid-columns: 12;
@grid-gutter-width: 30px;

// Wrapper
.make-container(@gutter: @grid-gutter-width) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

.make-row(@gutter: @grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-left: (@gutter / -2);
  margin-right: (@gutter / -2);
}

// Columns
.make-col-ready(@gutter: @grid-gutter-width) {
  width: 100%;
  min-height: 1px;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

.make-col(@size, @columns: @grid-columns) {
  flex: 0 0 percentage(@size / @columns);
  max-width: percentage(@size / @columns);
}

.make-col-equal() {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.make-col-equal-sm() {
  @media (min-width: @screen-sm) {
    .make-col-equal();
  }
}

.make-col-equal-md() {
  @media (min-width: @screen-md) {
    .make-col-equal();
  }
}

.make-col-equal-lg() {
  @media (min-width: @screen-lg) {
    .make-col-equal();
  }
}

.make-col-equal-xl() {
  @media (min-width: @screen-xl) {
    .make-col-equal();
  }
}

.make-col-auto() {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.make-col-auto-sm() {
  @media (min-width: @screen-sm) {
    .make-col-auto();
  }
}

.make-col-auto-md() {
  @media (min-width: @screen-md) {
    .make-col-auto();
  }
}

.make-col-auto-lg() {
  @media (min-width: @screen-lg) {
    .make-col-auto();
  }
}

.make-col-auto-xl() {
  @media (min-width: @screen-xl) {
    .make-col-auto();
  }
}

.make-col-sm(@size, @columns: @grid-columns) {
  @media (min-width: @screen-sm) {
    .make-col(@size, @columns);
  }
}

.make-col-md(@size, @columns: @grid-columns) {
  @media (min-width: @screen-md) {
    .make-col(@size, @columns);
  }
}

.make-col-lg(@size, @columns: @grid-columns) {
  @media (min-width: @screen-lg) {
    .make-col(@size, @columns);
  }
}

.make-col-xl(@size, @columns: @grid-columns) {
  @media (min-width: @screen-xl) {
    .make-col(@size, @columns);
  }
}

// Offset
.make-col-offset(@size, @columns: @grid-columns) {
  margin-left: percentage(@size / @columns);
}

.make-col-offset-sm(@size, @columns: @grid-columns) {
  @media (min-width: @screen-sm) {
    .make-col-offset(@size, @columns);
  }
}

.make-col-offset-md(@size, @columns: @grid-columns) {
  @media (min-width: @screen-md) {
    .make-col-offset(@size, @columns);
  }
}

.make-col-offset-lg(@size, @columns: @grid-columns) {
  @media (min-width: @screen-lg) {
    .make-col-offset(@size, @columns);
  }
}

.make-col-offset-xl(@size, @columns: @grid-columns) {
  @media (min-width: @screen-xl) {
    .make-col-offset(@size, @columns);
  }
}
