// Helper mixins

.clear-list() {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-muted() {
  color: @color-gray-500;
}

.truncate-text() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.make-box-shadow() {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

// Show
.show() {
  display: block !important;
}

.show-inline-block() {
  display: inline-block !important;
}

// Hide
.hide() {
  display: none !important;
}

.hide-sm() {
  @media (min-width: @screen-sm) {
    .hide();
  }
}

.hide-md() {
  @media (min-width: @screen-md) {
    .hide();
  }
}

.hide-lg() {
  @media (min-width: @screen-lg) {
    .hide();
  }
}

.hide-xl() {
  @media (min-width: @screen-xl) {
    .hide();
  }
}

.hide-sm-down() {
  @media (max-width: @screen-sm) {
    .hide();
  }
}

.hide-md-down() {
  @media (max-width: @screen-md) {
    .hide();
  }
}

.hide-lg-down() {
  @media (max-width: @screen-lg) {
    .hide();
  }
}

.hide-xl-down() {
  @media (max-width: @screen-xl) {
    .hide();
  }
}
