// Lock content mixin

.lock-content() {
  display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  font-size: 0;
	z-index: @zindex-lock-content;
}
