// Mixin for making section
.make-section() {
  .make-container();
  .make-box-shadow();
  background: @section-background;
  padding-top: @section-indent-y;
  padding-bottom: @section-indent-y;
  border: @section-border;
  border-radius: @section-border-radius;
  margin-bottom: @section-margin-bottom;
}

.make-highlight-section() {
  .make-section();
  color: @highlight-section-color;
  background-color: @highlight-section-bg;
  box-shadow: 0 0 0.4rem @highlight-section-shadow-color;
}
