<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Recent Products</title>
	<meta name="description" content="">
	@@include('_include/head.html')
  <link href="styles/recent-products.css" rel="stylesheet" media="screen">
</head>

<body>
  <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>

	<div class="page-layout">
		@@include('_include/header.html')

	  <main id="main-content" class="page-container">

      <section id="greeting-card-preview" class="gc-preview">
        <h1 class="gc-preview__title">Greeting card preview: {{selectedSide.name}}</h1>

        <div class="gc-preview__row">

          <div class="gc-overlay">
            <side-preview :side="selectedSide"></side-preview>
          </div>

          <div class="gc-customize">

            <div class="gc-customize__fields">
              <div class="gc-customize__field-wrap customize_message">
                <label for="gc-message" class="gc-customize__label">Greeting Card Message</label>

                <textarea class="gc-customize__message"
                  id="gc-message"
                  name="message"
                  v-model="messageOptions.message"
                  placeholder="Type the message that you would like to appear on the card.">
                </textarea>
              </div>
            </div>

            <div class="gc-customize__fields">

              <div class="gc-customize__field-wrap customize_font">
                <label for="font" class="gc-customize__label">Font</label>

                <select class="gc-customize__select"
                        id="font"
                        name="font"
                        v-model="messageOptions.font">

                  <option v-for="font in fonts"
                          :value="font">

                          {{font}}
                  </option>
                </select>
              </div>

              <div class="gc-customize__field-wrap customize_size">
                <label for="font-size" class="gc-customize__label">Size</label>

                <select class="gc-customize__select"
                        id="font-size"
                        name="font-size"
                        v-model="messageOptions.size">

                  <option v-for="size in fontSizes"
                          :value="size.value">

                          {{size.name}}
                  </option>
                </select>
              </div>

              <div class="gc-customize__field-wrap customize_color">
                <label class="gc-customize__label">Color</label>

                <color-picker v-model="messageOptions.color"></color-picker>
              </div>

            </div>

            <div class="gc-sides">
              <h2 class="gc-sides__title">Choose the card panel that you would like to view.</h2>

              <div class="gc-sides__row">
                <side-preview v-for="side in sides"
                              :side="side"
                              @change="onSelectSide">

                </side-preview>
              </div>
            </div>

          </div>

        </div>
      </section>

	  </main>

    <script type="x-template" id="side-preview-template">
      <div class="gc-side-preview">
        <div class="gc-side-preview__inner"
             @click="select">

          <message-preview v-if="side.type == 'MESSAGE'"
                           :options="messageOptions">
          </message-preview>

          <img v-else-if="side.img"
               class="gc-side-preview__img"
               :src="side.img"
               :alt="side.name"/>

        </div>

        <h3 class="gc-side-preview__name">{{side.name}}</h3>
      </div>
    </script>

    <script type="x-template" id="message-preview-template">
      <div class="gc-message-preview">
        <div class="gc-message-preview__text"
             :style="messageStyle">

          {{message}}
        </div>
      </div>
    </script>

    <script type="x-template" id="color-picker-template">
      <div class="color-picker">
        <button class="color-picker__select"
                @click="isOpen = true"
                :style="{ 'background-color': selectedColor.color }"
                :title="selectedColor.name">
        </button>

        <div class="color-picker__popup">

          <div class="color-picker__row">
            <button class="color-picker__color"
                    v-for="color in colors"
                    @click="setColor(color)"
                    :style="{ 'background-color': color.color }"
                    :title="color.name">
            </button>
          </div>
        </div>
      </div>
    </script>

		@@include('_include/footer.html')
	</div>

	@@include('_include/inc_script.html')
</body>
</html>
